/* --- [ RUCKPAY styles.css adjustement for Checkout ]  --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
#ruckpay-checkout-summary { }
    #ruckpay-checkout-summary > table { width: 100%; border: solid 1px #ccc; padding: .3em .8em; }
    #ruckpay-checkout-summary td.woocommerce-table__product-total { text-align: right; }

#ruckpay_iframe_area { padding: 10px 20px; border: solid 1px #ccc; background-color: #f9f9f9; }

#ruckpay_iframe_area,
#ruckpay-checkout-summary { max-width: 800px; margin: 10px auto; display: block; }

.ruckpay-footer-disclaimer { padding: 10px 0 0 0; }

.ruckpay-buttons-area { display: flex; flex-direction: row; align-content: center; align-items: center; flex-wrap: nowrap; justify-content: center; }
    .ruckpay-buttons-area button, .ruckpay-buttons-area a { margin: 0 10px; }

p.ruckpay-error { display: block; border: solid 1px #ffa4a4; background: #ffe9e9; padding: .5em; margin: 1em 0; color: #ff4848; }

#submit_payment_button[disabled] { cursor: not-allowed; background-color: grey; }

.wp-block-post-title { display: none; }
.entry-header { display: none; }
